<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>{{ place?.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content fullscreen elestic-header>
  <section class="housing-image" [ngStyle]="{ 'background-image': 'url(' + place?.picture + ')'}">
    <section class="housing-banner" padding>
      <span class="housing-title">{{ place?.name }}</span>
      <span class="price"> {{ place?.price }} </span>
    </section>
  </section>
  <section class="main-content">
  <section style="text-align: center;" margin-top>
    <button ion-button color="secondary" navPush="CheckoutPage" [navParams]="{ catIndex: catIndex, placeIndex: placeIndex }">Efetuar Reserva</button>
  </section>
  <ion-list>
    <ion-list-header> Detalhes </ion-list-header>
    <ion-item text-wrap>
      <ion-icon name="pin" item-left></ion-icon>
      <p> {{ place?.address }} </p>
    </ion-item>
  </ion-list>
  <ion-list no-margin>
    <ion-list-header>Outros serviços</ion-list-header>
  </ion-list>
  <ion-grid class="main-features">
    <ion-row *ngIf="place">
      <ion-col text-center col-4 *ngFor="let service of place.otherServices" tappable navPush="PlacePage" [navParams]="service.params">
        <img [src]="service.icon" width="50px" height="50px">
        <div text-center>{{ service.name }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </section>
</ion-content>