page-home {
    .pins {
        column-count: 2;
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pin {
        display: inline-block;
        width: 100%;
        color: #444;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #dedede;
        margin-bottom: 20px;
        background: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
