<ion-card tappable navPush="PlacePage" [navParams]="{ catIndex: catIndex, placeIndex: placeIndex }">
  <img [src]="place?.picture">

  <ion-item text-wrap>
    <h2>{{ place?.name }}</h2>
    <ion-icon (click)="favorite($event)" [name]="getStar()" ion-text [color]="'danger'" item-right></ion-icon>
  </ion-item>
  <ion-item text-wrap>
    <ion-icon item-left color="primary" name="pin"></ion-icon>
    <p> {{ place?.address }} </p>    
  </ion-item>
  <ion-item text-wrap>
    <ion-icon item-left color="secondary" name="cash"></ion-icon>
    <p> {{ place?.price }} </p>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col>
        <button ion-button (click)="preventDefault($event)" navPush="CheckoutPage"[navParams]="{ catIndex: catIndex, placeIndex: placeIndex }" color="secondary" block>
          Reservar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" block>
          Visualizar
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-card>
